{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description"
              content="This is the base template for the DigitalMarket project.">
        <meta name="keywords" content="DigitalMarket, Django, Template, Base">
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'static/tailwind/styles.css' %}">
    </head>
    <body>
        <h1>Hey this is from the base template</h1>
        {% block body %}
        {% endblock body %}
    </body>
</html>
