{% extends 'base.html' %}
{% block body %}
    <div class="m-4">
        <div class="flex justify-between shadow-sm py-4">
            <a href="" class="text-lg font-bold">My product</a>
            <div class="bg-green-600">
                <a href="" class="font-bold text-lg text-white p-8">New product</a>
            </div>
        </div>
    </div>
    <div class="m-5">
        {% for product in products %}
            <div class="shadow-sm m-2 p-2">
                <div class="">
                    <div class="w-42 h-42">
                        <img src="{{ product.photo.url }}"
                             alt="{{ product.name }}"
                             class="w-42 h-42 object-cover">
                    </div>
                    <div>
                        <p>{{ product.name }}</p>
                        <p>{{ product.price }}$</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock body %}
