<nav class="flex justify-between shadow-lg py-2 text-sm font-medium">
    <a href="" class="flex ml-6">
        <img src="" alt="" height="20px" width="20px">
        <span class="mx-2 text-green">Digital Market</span>
    </a>
    <ul class="mr-6 flex">
        <li class="mx-4">
            <a href="">Dashboard</a>
        </li>
        <li class="mx-4">
            <a href="">Sales</a>
        </li>
        <li class="mx-4">
            <a href="">Create Product</a>
        </li>
        <li class="mx-4">
            <a href="">My Purchases</a>
        </li>
        <li class="mx-4">
            <a href="">Logout</a>
        </li>
        <li class="mx-4">
            <a href="">Login</a>
        </li>
    </ul>
</nav>
