<nav class="fixed top-0 w-full z-10">
    <div class="flex justify-between shadow-lg py-2 text-sm font-medium">
        <a href="{% url 'index_view' %}"
           class="flex items-center justify-center ml-6">
            <img src="" alt="" height="20px" width="20px">
            <span class="mx-2 text-green-600 text-24">Digital Market</span>
        </a>
        <ul class="mr-6 flex">
            <li class="mx-4">
                <a href="">Dashboard</a>
            </li>
            <li class="mx-4">
                <a href="">Sales</a>
            </li>
            <li class="mx-4">
                <a href="{% url 'create_product' %}">Create Product</a>
            </li>
            <li class="mx-4">
                <a href="">My Purchases</a>
            </li>
            <li class="mx-4">
                <a href="">Logout</a>
            </li>
            <li class="mx-4">
                <a href="">Login</a>
            </li>
        </ul>
    </div>
</nav>
