{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'tailwind/styles.css' %}">
    </head>
    <body class="bg-gray-400">
        <div class="flex justify-between shadow-lg py-3">
            <div class="ml-6">
                <img src="" alt="">
                <span>Digital Market</span>
            </div>
            <ul class="mr-6 flex">
                <li class="mx-4">
                    <a href="">Dashboard</a>
                </li>
                <li class="mx-4">
                    <a href="">Sales</a>
                </li>
                <li class="mx-4">
                    <a href="">Create Product</a>
                </li>
                <li class="mx-4">
                    <a href="">My Purchases</a>
                </li>
                <li class="mx-4">
                    <a href="">Logout</a>
                </li>
                <li class="mx-4">
                    <a href="">Login</a>
                </li>
            </ul>
        </div>
        {% block body %}
        {% endblock body %}
    </body>
</html>
