{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords">
        <meta name="description">
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'tailwind/styles.css' %}">
    </head>
    <body class="bg-gray-200 relative">
        {% include 'partials/navbar.html' %}
        {% block body %}
        {% endblock body %}
        {% include 'partials/footer.html' %}
    </body>
</html>
